.post {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px auto;
    background-color: lightgreen;
    border-radius: 5px;
    min-width: 400px;
    padding-bottom: 20px;
}

.post__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.post__top p {
    margin-left: 10px;
}

.post__middle {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.post__middle img {
    object-fit: cover;
}

.post__bottom {
    display: flex;
    flex-direction: column;
    /*padding: 20px;*/
}

.post__likesDislikes {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

.post__likeNumber {
    display: flex !important;
    color: blue;
}

.post__dislikeNumber {
    display: flex;
    color: red;
}

.post__likeDislike {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.post__like {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 50% !important;
    background-color: lightblue;
    padding: 5px 0 !important;
    cursor: pointer;
    transition: all ease-in-out .2s !important;
}

.post__like:hover {
    background-color: blue;
    color: white;
}

.post__dislike {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 50% !important;
    background-color: lightpink;
    padding: 5px 0 !important;
    cursor: pointer;
    transition: all ease-in-out .2s !important;
}

.post__dislike:hover {
    background-color: red;
    color: white;
}

.liked {
    background: blue;
    color: white;
}

.disliked {
    background: red;
    color: white;
}

.post__comments {
    display: flex;
    flex-direction: column;

}

.post__commentCreator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__commentForm {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 30px;
}

.post__currentUser {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.post__commentForm input {
    display: flex;
    flex: 1;
    border: none;
    outline: none;
    height: 100%;
    font-style: italic;
}

.post__commentForm button {
    border: none;
    outline: none;
    background: aquamarine;
    color: black;
    cursor: pointer;
    height: 32px;
}

.post__commentForm button:hover {
    background: aqua;
}

.post__commentFeed {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .post {
        width: 100%;
        min-width: 200px;
    }
}